nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  list-style-type: none;

}

nav ul li a {
  text-decoration: none;
  color: rgb(87, 87, 69);
}

.container-menu {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 14px;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-menu button {
  padding: 5px 10px;
}

.layout button {
  padding: 10px;
}

:is(.container-menu button, .layout button):hover {
  cursor: pointer;
}